*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background:linear-gradient(rgb(196, 13, 13),rgb(161, 12, 12));
  min-height: 100vh;
}

.pic img{
  position: absolute;
  top:65%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 250px;
  cursor: pointer;
}

.title{
  font-family: STHupo;
  /* position: absolute;
  top:15%;
  left:40%; */
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 150px;
  letter-spacing: 1em;
  white-space: nowrap;
}

p{
  font-size: 2.5em;
}

.text2{
  position: relative;
 
}

span{
  font-size: 3em;
  color: rgb(255, 234, 0);
}

footer{
  font-size: 1em;
  color: yellow;
  font-family: STcaiyun;
  margin-top:380px;
}
.float{
  position:fixed;
  color: rgb(255, 255, 255);
  font-family: STxingkai;
  font-size: 2.5em;
  transform: translate(-100px,-200px);
  animation:move 3s;
}

@keyframes move{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}