*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.back{
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
}

.back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.leftbox{
    position:absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 15%; 
}

.leftbox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.novle{
    position: absolute;
    top:18%;
    left:40%;
    width: 20%;
    opacity: 0.5;
}

.novle img{
    top:18%;
    width: 100%;
    object-fit: cover;
    
}
.content{
    color:white;
    line-height: 2;
    font-size: 1.1em;
    font-family:STFangSong;
    position: absolute;
    top:15%;
    left:25%;
    width: 100%;
    height: 100%;
}

hr{
    border:none;
    height: 1px;
    background:rgb(241, 206, 64);
    width: 50%;
    opacity: 0.8;
}

ul li::marker{
    color:rgb(247, 219, 64);
}

span{
    font-family:STLiTi;
    color:rgb(247, 219, 64);
}



 .play {
    position: absolute;
    left:70%;
    top:15%;
    width:100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}


.play img{
    position: absolute;
    width:100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    animation: rotate 10s linear infinite;
    cursor: pointer;
}

.audio{
    position: absolute;
    height: 20%;
    width: 100%;
    left:0;
    top:120%;
    opacity: 0.5;
} 

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}



